name: SCIP Index

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  scip-java:
    name: SCIP Java Index
    runs-on: ubuntu-latest
    container:
      image: sourcegraph/scip-java:latest
      env:
        JVM_VERSION: '21'
    timeout-minutes: 60
    steps:
      - name: Check Out Code
        uses: actions/checkout@v6

      - name: Generate SCIP Index
        run: scip-java index

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scip-java-index
          path: index.scip
          retention-days: 1

  upload:
    name: Upload SCIP Index
    runs-on: ubuntu-latest
    container: sourcegraph/src-cli:latest
    needs: scip-java
    steps:
      - name: Check Out Code
        uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: scip-java-index

      - name: Upload SCIP Index
        run: src code-intel upload -github-token='${{ secrets.GITHUB_TOKEN }}' -no-progress
        env:
          SRC_ENDPOINT: https://sourcegraph.com
          SRC_ACCESS_TOKEN: ${{ secrets.SRC_ACCESS_TOKEN }}
